.introduction-box {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}
.introimg {
  width: 707px;
  height: 410px;
  left: 125px;
  top: 160px;
  margin-top: 60px;
  margin-bottom: 100px;
  margin-right: 50px;
}

p {
  width: 465px;
  height: 199px;
  left: 853px;
  top: 266px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  text-decoration: none;
}
