.photos-box {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.photosTitle {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: red;
}

h2 {
  width: 167px;
  height: 47px;
  left: 125px;
  top: 670px;
  margin-left: 125px;
  margin-right: 40px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: rgb(62, 61, 61, 1);
}

.instaLink {
  width: 106px;
  height: 23px;
  left: 332px;
  top: 684px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-decoration: underline;
  color: rgb(62, 61, 61, 1);
  text-decoration-color: rgb(116, 123, 96, 1);
}

.gridImg {
  text-align: center;
  width: 200px;
  height: 200px;
  left: 372px;
  top: 777px;
  margin: 0 24px 48px 24px;
}

.photosGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
