.contact-box {
  width: 100%;
  background-color: white;
  height: 100px;
}

h2 {
  width: 368px;
  height: 47px;
  left: 536px;
  top: 1325px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.contactTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
