.header-box {
  width: 100%;
  background-color: rgb(116, 123, 96, 0.3);
  height: 100px;
  text-decoration: black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

bokoTitle {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: rgb(62, 61, 61, 1);
}

#epicerieBio {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: rgb(62, 61, 61, 1);
}

#photos {
  width: 100%;
  height: 28px;
  left: 1032px;
  top: 33px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  text-decoration: underline;
  text-decoration-color: rgb(116, 123, 96, 1);
  color: rgb(62, 61, 61, 1);
}

#contact {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  color: rgb(62, 61, 61, 1);
  text-decoration: underline;
  text-decoration-color: rgb(116, 123, 96, 1);
}

#nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  align-items: center;
}

#nav-left {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
